
/* -- -- -- */

.gitProjectsPageStyle{
  justify-self: center;
  justify-items: center;
  z-index: 4;
  overflow: hidden;
}

.gitProjectsPageStyle a{
  color: rgb(158, 206, 255);
}
.gitProjectsPageStyle a:hover{
  color: rgb(216, 235, 255);
}

/* -- -- -- */

.gitProjectsPage-sectionNavButtonStyle{
  color: rgba(186, 228, 255, 0.92);
  text-shadow: 1.5px 1.5px 4px #252525;
  background-color: rgba(33, 81, 116, 0.15);
  border-color: rgba(84, 203, 255, 0.46);
}
.gitProjectsPage-sectionNavButtonStyle:hover{
  color: rgb(234, 246, 255);
  text-shadow: 1.5px 1.5px 4px rgba(37, 37, 37, 0.839);
  background-color: rgba(89, 140, 182, 0.37);
  border-color: rgba(29, 193, 243, 0.84);
}
.gitProjectsPage-sectionNavButtonStyle:active{
  color: rgba(130, 205, 255, 0.95);
  text-shadow: 1.5px 1.5px 4px #252525;
  background-color: rgba(50, 79, 101, 0.37);
  border-color: rgba(25, 175, 220, 0.90);
}
.gitProjectsPage-sectionNavButtonBackgroundStyle{
  background: linear-gradient(90deg, rgba(74, 127, 165, 0.68), rgba(94, 98, 101, 0.04));
}

.gitProjectsPage-sectionNavButtonActiveStyle{
  color: #ffffff !important;
  text-shadow: 1.5px 1.5px 4px #252525;
  background-color: rgba(48, 120, 171, 0.88) !important;
  border-color: rgba(84, 204, 255, 0.645) !important;
}
.gitProjectsPage-sectionNavButtonActiveStyle:hover{
  background-color: rgba(53, 129, 183, 0.934);
}

.gitProjectsPage-sectionNavListStyle{
  background-color: rgba(72, 134, 199, 0.15);
  border-color: rgba(40, 121, 205, 0.83);
}

@media screen and (min-width: 1000px) {
  .gitProjectsPage-sectionNavListStyle{
    background: linear-gradient(-45deg, rgba(72, 134, 199, 0.0), rgba(72, 134, 199, 0.35));
    border-color: rgba(40, 121, 205, 0.83);
  }
}

.gitProjectsPage-sectionCaptionStyle{
  background: linear-gradient(90deg, rgba(72, 134, 199, 0.0) 0%, rgba(72, 134, 199, 0.5) 25%, rgba(72, 134, 199, 0.5) 75%, rgba(72, 134, 199, 0.0) 100%);
}

.gitProjectsPage-headerLine{
  background: linear-gradient(90deg, rgba(33, 162, 228, 0.4) 0%, rgba(33, 162, 228, 0) 100%);
}


/* -- -- -- */


.gitProjectsPageScrollbarStyle::-webkit-scrollbar {
  border-radius: 2px;
	width: 10px;
}

.gitProjectsPageScrollbarStyle::-webkit-scrollbar-track {
  border-radius: 2px;
	background: rgba(23, 72, 108, 0.25);
}

.gitProjectsPageScrollbarStyle::-webkit-scrollbar-thumb {
  border-radius: 2px;
	cursor: grab;
  background-color: rgba(30, 71, 118, 0.9);
}
.gitProjectsPageScrollbarStyle::-webkit-scrollbar-thumb:hover {
  border-radius: 2px;
	background-color: rgba(43, 109, 185, 0.8);
}

/* -- -- -- */




@media screen and (max-width: 600px){
  .hideOnMobile{
    display: none;
  }
}


/* -- -- -- */

.gitProjectsPageParentStyle{
  max-width: min(100vw, 1600px);
  display: grid;
  grid-auto-flow: row;
  padding: var(--inner-padding);
  text-shadow: 2px 2px 3px rgba(0, 0, 0, .75);
  border-radius: 2px;
  background: linear-gradient(123deg, rgba(62, 95, 117, 0.65), rgba(32, 82, 117, 0.71), rgba(59, 81, 107, 0.65));
  background-image: radial-gradient(150% 75% ellipse at top, rgba(62, 95, 117, 0.9), rgba(62, 95, 117, 0)), 
                    radial-gradient(150% 75% ellipse at bottom, rgba(59, 81, 107, 0.8), rgba(59, 81, 107, 0));
  pointer-events: auto;
  overflow: hidden;
}

.gitProjectsPageParentStyle a{
  color: #9eceff;
}

.gitProjectsPageStyle .procPagesInnerBefore {
  content : '';
  border-radius: 5px 5px 0px 0px;
  background: transparent;
  border-width: 0px 1px 1px 1px;
  border-color: #3e5f75;
  border-style: solid;
  height: var(--inner-before-after-height);
  width: 99%;
  margin-bottom: var(--inner-before-after-margin);
  margin-left: auto;
  margin-right: auto;
}

.gitProjectsPageStyle .procPagesInnerAfter {
  content : '';
  border-radius: 0px 0px 5px 5px;
  background: transparent;
  border-width: 1px 1px 0px 1px;
  border-color: #3e5f75;
  border-style: solid;
  height: var(--inner-before-after-height);
  width: 99%;
  margin-top: var(--inner-before-after-margin);
  margin-left: auto;
  margin-right: auto;
}


/* -- -- -- */

.procPagesNav_projectsStyle {
  background: linear-gradient(90deg, rgba(37, 111, 168, 0.0), rgba(37, 111, 168, 0.45), rgba(37, 119, 181, 0.5), rgba(37, 111, 168, 0.45), rgba(37, 111, 168, 0.0));
  border-bottom: 1px solid rgba(17, 108, 191, 0.4);
}
.procPagesNav_projectsStyle a {
  border: 1px solid rgb(119 178 223);
  color: rgb(175 220 255);
  background-color: rgba(32, 120, 188, 0.35);
}
.procPagesNav_projectsStyle a:hover {
  text-shadow: 1px 1.5px 4px #5fb3f4;
  background-color: rgba(22, 134, 219, 0.675);
}
.procPagesNav_projectsStyle a:active {
  color: #cccccc;
  text-shadow: 1px 1.5px 4px #4a80a9;
  background-color: rgba(24, 77, 118, 0.592);
}

.procPagesNav_projectsActiveStyle {
  text-shadow: 1px 1.5px 4px #405e74 !important;
  background-color: rgba(22, 134, 219, 0.85) !important;
}




/* -- -- -- */

.projectsPage_footerBar{
  background: linear-gradient(90deg, rgba(27, 88, 141, 0.25), rgba(5, 83, 158, 0.15), rgba(4, 43, 109, 0.0), rgba(5, 83, 158, 0.15), rgba(27, 88, 141, 0.25));
  color: #96bbf7;
}
.projectsPage_footerBar a {
  color: #96bbf7;
}

.projectsPage_footerBar a:hover {
  color: #c0d8ff;
  font-weight: 600;
}

.projectsPage_footerBar a:active {
  color: #6697e6;
}


/* -- -- -- */


.procPagesProjectsHeaderStyle{
  width:90%;
  max-width: 1400px;
}
.procPagesProjectsDescriptionStyle{
  width:85%;
  max-width: 1300px;
}
.procPagesProjectsSmallDescStyle{
  width:65%;
  max-width: 800px;
}

.procPagesProjectsSpacer{
  height: 7px;
  overflow: hidden;
}

.socialsLinkStyle {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 1px;
}

.codeAccentStyle{
  color: #90ecff;
  background-color: #5b7b994a;
  padding: 0px 2px;
  border-radius: 3px;
}

.procPagesBgColor{
  background-color: rgba(40, 122, 185, 0.15)
}
