
/* -- -- -- */

.gitReposPageStyle{
  position: fixed;
  bottom: 4vmax;
  width: var(--procPage-width);
  justify-self: center;
  justify-items: center;
  z-index: 3;
  overflow: hidden;
}

/* -- -- -- */

.gitReposPage-sectionNavButtonStyle{
  color: rgb(168 197 255);
  text-shadow: 1.5px 1.5px 4px #252525;
  background-color: rgba(12, 55, 113, 0.71);
  border-color: rgb(51 61 186);
}
.gitReposPage-sectionNavButtonStyle:hover{
  color: rgb(231 239 255);
  text-shadow: 1.5px 1.5px 4px #252525;
  background-color: rgba(21, 67, 189, 0.71);
  border-color: rgb(59 74 255);
}
.gitReposPage-sectionNavButtonStyle:active{
  color: rgb(184 204 245);
  text-shadow: 1.5px 1.5px 4px #252525;
  background-color: rgba(3, 29, 97, 0.71);
  border-color: rgb(36 51 232);
}

.gitReposPage-sectionNavButtonAvtiveStyle{
  color: rgb(231 239 255);
  text-shadow: 1.5px 1.5px 4px #252525;
  background-color: rgba(21, 67, 189, 0.71);
  border-color: rgb(59 74 255);
}

/* -- -- -- */

.gitReposPageScrollbarStyle::-webkit-scrollbar {
  border-radius: 2px;
	width: 10px;
}

.gitReposPageScrollbarStyle::-webkit-scrollbar-track {
  border-radius: 2px;
	background: rgba(51, 76, 161, 0.308);
}

.gitReposPageScrollbarStyle::-webkit-scrollbar-thumb {
  border-radius: 2px;
	cursor: grab;
	background-color: rgba(33, 53, 117, 0.75);
}
.gitReposPageScrollbarStyle::-webkit-scrollbar-thumb:hover {
  border-radius: 2px;
	background-color: rgba(34, 61, 151, 0.811);
}

/* -- -- -- */

.gitReposPageParentStyle{
  height : 65vh;
  padding: var(--inner-padding);
  border-radius: 2px;
  background: linear-gradient(149deg, rgba(28, 76, 178, 0.4), rgba(29, 43, 66, 0.65), rgba(28, 48, 82, 0.4));
  text-shadow: 2px 2px 3px rgba(0, 0, 0, .75);
  pointer-events: auto;
  overflow: hidden;
}

.gitReposPageStyle .procPagesInnerBefore {
  content : '';
  border-radius: 5px 5px 0px 0px;
  background: transparent;
  border-width: 0px 1px 1px 1px;
  border-color: #152c52;
  border-style: solid;
  height: var(--inner-before-after-height);
  width: 100%;
  margin-bottom: var(--inner-before-after-margin);
  margin-left: auto;
  margin-right: auto;
}

.gitReposPageStyle .procPagesInnerAfter {
  content : '';
  border-radius: 0px 0px 5px 5px;
  background: transparent;
  border-width: 1px 1px 0px 1px;
  border-color: #152c52;
  border-style: solid;
  height: var(--inner-before-after-height);
  width: 100%;
  margin-top: var(--inner-before-after-margin);
  margin-left: auto;
  margin-right: auto;
}

/* -- -- -- */


.procPagesNav_reposStyle {
  background: linear-gradient(90deg, rgba(28, 30, 46, 0), rgba(27, 47, 95, 0.45), rgba(51, 62, 107, 0.55), rgba(27, 47, 95, 0.45), rgba(28, 30, 46, 0));
  border-bottom: 1px solid rgb(58 58 153 / 45%);
}
.procPagesNav_reposStyle a {
  border: 1px solid #8086fd;
  color: #6e86ff;
  background-color: rgba(77, 91, 140, 0.35);
}
.procPagesNav_reposStyle a:hover {
  text-shadow: 1px 1.5px 4px #2a469b;
  background-color: rgba(87, 112, 204, 0.532);
}
.procPagesNav_reposStyle a:active {
  color: #3d4297;
  border: 1px solid #5156af;
  text-shadow: 1px 1.5px 4px #18254f;
  background-color: rgba(53, 64, 104, 0.541);
}

.procPagesNav_reposActiveStyle a {
  text-shadow: 1px 1.5px 4px #2a469b;
  background-color: rgba(87, 112, 204, 0.532);
}

/* -- -- -- */

.procPagesRepoLinkStyle{
  margin-bottom: 3px;
  font-size: 1.2em;
}

.procPagesRepoImageStyle{
  width: calc(max(40vw,500px));
  max-width: calc( max(min(100vw - 7vh, 480px), min( 100vw - 7vh, 40vw + ( (1000px - 100vw)*5) )) );
  height: auto;
  display: grid;
  justify-self: center;
  margin: 8px 0px 2px 0px;
}

/* -- -- -- */

.repoPage_footerBar{
    background: linear-gradient(90deg, rgba(20, 76, 186, 0.3), rgba(27, 63, 149, 0.1), rgba(20, 69, 186, 0), rgba(27, 63, 149, 0.2), rgba(20, 76, 186, 0.3));
    color: #4964f1;
}
.repoPage_footerBar a {
    color: #4964f1;
}
.repoPage_footerBar a:hover {
    color: #5872f7;
    font-weight: 600;
    text-shadow: 1px 1.5px 4px rgba(50,50,50,.5);
}
.repoPage_footerBar a:active {
    color: #324bc9;
    text-shadow: 1px 1.5px 4px rgba(50,50,50,.75);
}