
/* -- -- -- */


.gitInitPageStyle{
  position: fixed;
  top: max( 30px, 6vmax);
  left: max(6vmin, 50vw - 900px);
  max-width: var(--procPage-width);
  z-index: 1;
  overflow: hidden;
  width: 650px;
}

@media screen and (max-width: 500px) {
  .gitInitPageStyle{
    left: 0px;
    width: 100vw;
    max-width: 100vw;
  }
}

/* -- -- -- */
.gitInitPageWidthStyle{
  width: min(100vw, 650px);
  padding: 5px;
}


.gitInitPageParentStyle{
  padding: var(--inner-padding);
  max-width: calc( 100vw - 5vmax - var(--inner-padding));
  text-shadow: 2px 2px 3px rgba(0, 0, 0, .75);
  justify-self: baseline;
  width: 650px ;
  border-radius: 5px;
  overflow: hidden;
  background: linear-gradient(155deg, rgba(67, 55, 4, 0.407), rgba(52, 35, 3, 0), rgba(52, 35, 3, 0), rgba(52, 35, 3, 0));
  background-image: radial-gradient(150% 50% ellipse at top left, rgba(52, 35, 3, 0.52), rgba(52, 35, 3, 0.0));
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.gitInitPageStyle .procPagesInnerBefore {
  content : '';
  padding-left: 8px;
  border-radius: 5px 5px 0px 0px;
  background: transparent;
  border-width: 0px 1px 1px 1px;
  border-color: #483107;
  border-style: solid;
  height: var(--inner-before-after-height);
  width: 99%;
  margin-bottom: var(--inner-before-after-margin);
  margin-left: auto;
  margin-right: auto;
}

.gitInitPageStyle .procPagesInnerAfter {
  display:none;
}

/* -- -- -- */

.procPagesNav_initStyle {
  background: linear-gradient(90deg, rgba(53, 38, 4, 0.0), rgba(46, 33, 3, 0.45), rgba(73, 54, 9, 0.55), rgba(46, 33, 3, 0.45), rgba(53, 38, 4, 0.0));
  border-bottom: 1px solid rgba(82, 67, 5, 0.45);
}
.procPagesNav_initStyle a {
  color: #ffd093;
  border: 1px solid rgb(82 66 3);
  background-color: rgba(89, 54, 3, 0.35);
}
.procPagesNav_initStyle a:hover {
  color: #d38c2f;
  text-shadow: 1px 1.5px 4px #454545;
  background-color: rgba(89, 66, 8, 0.85);
  border-color: #744d1a;
}
.procPagesNav_initStyle a:active {
  color: #6b420c;
  text-shadow: 1px 1.5px 4px #151515;
  background-color: rgba(61, 42, 6, 0.85);
}

.procPagesNav_initActiveStyle {
  color: #ffad49 !important;
  text-shadow: 1px 1.5px 4px #454545;
  background-color: rgba(89, 66, 8, 0.85) !important;
  border-color: #744d1a !important;
}

/* -- -- -- */


.initPage_footerBar{
  background: linear-gradient(90deg, rgba(57, 37, 4, 0.35),  rgba(34, 22, 2, 0.20), rgba(34, 22, 2, 0.1), rgba(34, 22, 2, 0.20),  rgba(57, 37, 4, 0.35));
  color: #cc8324;
}

.initPage_footerBar a {
  color: #cc8324;
}

.initPage_footerBar a:hover {
  color: #ffb95e;
}

.initPage_footerBar a:active {
  color: #dea254;
}




/* -- -- -- -- -- -- -- -- -- */
/* -- -- -- -- -- -- -- -- -- */
/* -- -- -- -- -- -- -- -- -- */




.initPage_hBarStyle{
  display: grid;
  grid-auto-flow: column;
  justify-content: space-around;
  margin: 5px 0px 3px 0px;
  height: 1px;
  width: 65%;
  overflow: hidden;
  background: linear-gradient(90deg, rgba(169, 99, 6, 0.482), rgba(183, 108, 3, 0.241), rgba(28, 15, 0, 0));
}


.initHeaderStyle{
  color: #ffad49;
  font-size: 1.2em;
  font-weight: 600;
  padding: 0px 3px 0px 13px;
}