<div id="splashScreen">

	<img id="neurousTitle" src="splashTitle.png" style="width:600px; max-width:600px; height:auto;user-selection:none;z-index:1;position:relative;top:0px;left:0px;">
	
	<div id="hitSpace">
		- <span id='intro_pause'>Hit <span class='introBolds'>Space</span></span> to <span class='introBolds'>Pause</span> the Site -
	</div>
	<div id="leftClick">
		- <span  class='introBolds' id='intro_pull'>Left Click</span> to <span class='introBolds'>Pull In</span> nearby Points -
	</div>
	<div id="middleClick">
		- <span class='introBolds' id='intro_newton'>Middle Click</span> to Spawn a <span class='introBolds'>Newton Orb</span> -
	</div>
	
	<div id="rightClick" >
		- <span class='introBolds' id='intro_pullAll'>Right Click</span> to <span class='introBolds'>Pull In <span style='font-size:101%;font-weight:bold;'>All</span></span> Points -
	</div>
	
	<div id="introSpacer" class="introSpacer"></div>
	
	<div id="clickAnywhere" style="margin: 10px ;" >
		[ <span class='introClickText'><span id='intro_start'>Click</span> anywhere to mess with the site!</span> ]
	</div>
  
</div>