
/* Info Window GUI */
.gui_contentInfoStyle{
	display:grid;
	grid-template-rows:auto;
	grid-gap:0px;
	justify-content:strech;
	text-align:center;
	align-items:center;
	height:40%;
	width:50%;
	min-height:400px;
	min-width:450px;
	position:fixed;
	left:50%;
	top:50%;
	transform:translate(-50%, -50%);
}
.gui_infoBody{
	margin-left:auto;
	margin-right:auto;
}
.gui_infoGuiParentStyle{
	height:100%;
	width:100%;
	position:fixed;
	top:0px;
	left:0px;
	font-size:1.5em;
}
.gui_infoGuiParent{
	color:#ffffff;
	text-align:left;
	width:500px;
}
.gui_infoGuiParent a{
    color:#ffffff;
    font-weight:700;
    text-decoration-color: rgba(255,255,255,.6);
}
.gui_infoGuiParent a:hover{
    text-decoration-color: #ffffff;
}

/* -- -- -- -- -- -- -- -- */

.guiInfoEnterButton{
	width:10%;
	min-width:129px;
	max-width:200px;
	height:auto;
	margin-left:auto;
	margin-right:auto;
}
.guiInfoAntibodyClubTitle{
	width:20%;
	min-width:148px;
	max-width:300px;
	height:auto;
}