
/* -- -- -- */

.gitBlogPageStyle{
  width: 75vw;
  max-height: 86vh;
  max-width: var(--procPage-width);
  z-index: 5;
  overflow: hidden;
}

/* -- -- -- */

.gitBlogPage-sectionNavButtonStyle{
  color: rgba(80, 210, 90, 0.8);
  text-shadow: 1.5px 1.5px 4px #252525;
  background-color: rgba(15, 79, 20, 0.37);
  border-color: rgba(25, 220, 30, 0.85) rgba(20, 168, 25, 0.29);
}
.gitBlogPage-sectionNavButtonStyle:hover{
  color: rgba(80, 210, 90, 0.9);
  text-shadow: 1.5px 1.5px 4px #252525;
  background-color: rgba(15, 79, 20, 0.37);
  border-color: rgba(25, 220, 30, 0.5);
}
.gitBlogPage-sectionNavButtonStyle:active{
  color: rgba(80, 210, 90, 0.85);
  text-shadow: 1.5px 1.5px 4px #252525;
  background-color: rgba(15, 79, 20, 0.37);
  border-color: rgba(25, 220, 30, 0.5);
}
.gitBlogPage-sectionNavButtonBackgroundStyle{
  background: linear-gradient(90deg, rgba(86, 86, 86, 0.7), rgba(86, 86, 86, 0.0));
}

.gitBlogPage-sectionNavButtonActiveStyle{
  color: rgb(231 239 255) !important;
  text-shadow: 1.5px 1.5px 4px #252525;
  background-color: rgba(21, 67, 189, 0.71) !important;
  border-color: rgb(59 74 255) !important;
}

.gitBlogPage-sectionNavListStyle{
  background-color: rgba(59, 59, 59, 0.16);
}

@media screen and ((min-width: 1000px) or (min-aspect-ratio: 1)) {
  .gitBlogPage-sectionNavListStyle{
    background: linear-gradient(-45deg, rgba(59, 59, 59, 0.0), rgba(59, 59, 59, 0.56));
    height: 100%;
    overflow: auto;
  }
}

.gitBlogPage-sectionCaptionStyle{
  background: linear-gradient(90deg, rgba(72, 134, 199, 0.0) 0%, rgba(72, 134, 199, 0.5) 25%, rgba(72, 134, 199, 0.5) 75%, rgba(72, 134, 199, 0.0) 100%);
}

.gitBlogPage-headerLine{
  background: linear-gradient(90deg, rgb(167 167 167 / 38%) 0%, rgb(111 111 111 / 0%) 100%);
}


/* -- -- -- */


.gitBlogPageScrollbarStyle::-webkit-scrollbar {
  border-radius: 2px;
	width: 10px;
}

.gitBlogPageScrollbarStyle::-webkit-scrollbar-track {
  border-radius: 2px;
	background: rgba(52, 29, 131, 0.58);
}

.gitBlogPageScrollbarStyle::-webkit-scrollbar-thumb {
  border-radius: 2px;
	cursor: grab;
  background-color: rgb(41 0 107);
}
.gitBlogPageScrollbarStyle::-webkit-scrollbar-thumb:hover {
  border-radius: 2px;
  background-color: rgba(88, 27, 186, 0.9);
}


/* -- -- -- */

.gitBlogPageParentStyle{
  max-height: calc(86vh - var(--inner-height-reduce));
  max-width: calc(100vw - var(--screen-padding));
  padding: var(--inner-padding);
  background-color: rgba(43, 9, 103, 0.45);
  text-shadow: 2px 2px 3px rgba(0, 0, 0, .75);
  border-radius: 2px;
  pointer-events: auto;
  overflow: hidden;
  background-image: radial-gradient(200% 35% ellipse at top, rgba(43, 9, 103, 0.35), rgba(43, 9, 103, 0.0)),
                    radial-gradient(200% 35% ellipse at bottom, rgba(43, 9, 103, 0.35), rgba(43, 9, 103, 0.0));
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.gitBlogPageStyle .procPagesInnerBefore {
  border-color: #2b0967;
}

.gitBlogPageStyle .procPagesInnerAfter {
  border-color: #2b0967;
}

/* -- -- -- */


.procPagesNav_blogStyle {
  background: linear-gradient(90deg, rgba(78, 19, 126, 0), rgba(95, 55, 163, 0.45), rgba(93, 50, 133, 0.55), rgba(101, 52, 193, 0.45), rgba(78, 19, 126, 0));
  border-bottom: 1px solid rgba(82, 38, 194, 0.45);
}
.procPagesNav_blogStyle a {
  border: 1px solid #6700fff0;
  color: #ab8ae7;
  background-color: rgba(97, 48, 176, 0.37);
}
.procPagesNav_blogStyle a:hover {
  color: #b781ff;
  text-shadow: 1px 1.5px 4px #4b3e55;
  background-color: rgba(134, 60, 252, 0.395);
  border: 1px solid #743bc9f0;
}
.procPagesNav_blogStyle a:active {
  color: #7b62ab;
  text-shadow: 1px 1.5px 4px #51495a;
  background-color: rgba(58, 28, 105, 0.37);
  border: 1px solid #500fb1f0;
}

.procPagesNav_blogActiveStyle {
  color: #b781ff !important;
  text-shadow: 1px 1.5px 4px #4b3e55;
  background-color: rgba(134, 60, 252, 0.395) !important;
  border: 1px solid #743bc9f0 !important;
}

/* -- -- -- */


.blogPage_footerBar{
  background: linear-gradient(90deg, rgba(71, 13, 174, 0.2),  rgba(68, 5, 105, 0.15), rgba(78, 19, 126, 0), rgba(68, 5, 105, 0.15),  rgba(71, 13, 174, 0.2));
  color: #915aaa;
}
.blogPage_footerBar a {
  color: #915aaa;
}
.blogPage_footerBar a:hover {
  color: #a437d6;
  font-weight: 600;
  text-shadow: 1px 1.5px 4px rgba(50,50,50,.5);
}
.blogPage_footerBar a:active {
  color: #74448b;
  text-shadow: 1px 1.5px 4px rgba(50,50,50,.75);
}

/* -- -- -- */


.blogSpacer{
  height: 2px;
  width: 85%;
  background-color: rgba(59, 15, 94, 0.87);
  margin: 15px 0px 15px 0px;
  justify-self: center;
}

.blogEntryListStyle{
  display: grid;
  grid-auto-flow: column;
  justify-items: space-around;
}

.blogEntryListingStyle{
  border: 1px solid #6700fff0;
  text-decoration: none;
  color: #c6b3e9;
  background-color: rgba(97, 48, 176, 0.37);
  padding: 3px;
  margin: 3px;
  font-size: 1.1em;
}
.blogEntryListingStyle:hover {
  cursor: pointer;
  color: #ecddff;
  text-shadow: 1px 1.5px 4px #4b3e55;
  background-color: rgba(134, 60, 252, 0.395);
  border: 1px solid #743bc9f0;
}
.blogEntryListingStyle:active {
  cursor: pointer;
  color: #7b62ab;
  text-shadow: 1px 1.5px 4px #51495a;
  background-color: rgba(58, 28, 105, 0.37);
  border: 1px solid #500fb1f0;
}