
/* -- -- -- */

.gitAboutMePageStyle{
  justify-self: center;
  justify-items: center;
  z-index: 6;
  overflow: hidden;
  position: fixed;
  left: max(0px, calc(min(15vw, max(0px, 100vw - 1250px) / 4.5)));
  bottom: 2.5vmin;
}


/* -- -- -- */

.gitAboutMePage-sectionNavButtonStyle{
  color: rgba(237, 237, 237, 0.9);
  text-shadow: 1.5px 1.5px 4px rgba(37, 37, 37, 0.632);
  background-color: rgba(86, 86, 86, 0.37);
  border-color: rgba(213, 213, 213, 0.5);
  border-style: solid;
}
.gitAboutMePage-sectionNavButtonStyle:hover{
  color: rgb(255, 255, 255);
  text-shadow: 1.5px 1.5px 4px rgba(37, 37, 37, 0.821);
  background-color: rgba(118, 118, 118, 0.6);
  border-color: rgba(227, 227, 227, 0.85);
}
.gitAboutMePage-sectionNavButtonStyle:active{
  color: rgba(255, 255, 255, 0.95);
  text-shadow: 1.5px 1.5px 4px rgba(37, 37, 37, 0.927);
  background-color: rgba(86, 86, 86, 0.723);
  border-color: rgba(247, 246, 246, 0.9);
}

@media screen and (max-width: 500px) {
  .gitAboutMePage-sectionNavButtonStyle{
    width: 100%;
  }
}

.gitAboutMePage-sectionNavButtonActiveStyle{
  color: #ffffff;
  text-shadow: 1.5px 1.5px 4px rgba(37, 37, 37, 0.632);
  background-color: rgba(98, 98, 98, 0.886);
  border-color: rgba(220, 220, 220, 0.83);
  border-style: solid;
}

.gitAboutMePage-sectionNavListStyle{
  background-color: rgba(59, 59, 59, 0.16);
}

.gitAboutMePage-sectionCaptionStyle{
  background: linear-gradient(90deg, rgba(80, 80, 80, 0.0) 10%, rgba(80, 80, 80, 0.5) 35%, rgba(80, 80, 80, 0.5) 65%, rgba(80, 80, 80, 0.0) 90%);
}

.gitAboutMePage-headerLine{
  background: linear-gradient(90deg, rgb(167 167 167 / 38%) 0%, rgb(111 111 111 / 0%) 100%);
}

/* -- -- -- */


.gitAboutMePageParentStyle{
  width: min(100vw, 1100px);
  height: calc(92vh - 36px);
  display: grid;
  grid-auto-flow: row;
  border-radius: 2px;
  background-color: rgba(65, 65, 65, 0.3);
  text-shadow: 2px 2px 3px rgba(0, 0, 0, .75);
  pointer-events: auto;
  overflow: hidden;
  text-wrap: auto;
  background-image: radial-gradient(200% 35% ellipse at top, rgba(100, 100, 100, 0.35), rgba(100, 100, 100, 0.0)),
                    radial-gradient(200% 35% ellipse at bottom, rgba(100, 100, 100, 0.35), rgba(100, 100, 100, 0.0));
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.gitAboutMePageStyle .procPagesInnerBefore {
  content : '';
  border-radius: 5px 5px 0px 0px;
  background: transparent;
  border-width: 0px 1px 1px 1px;
  border-color: #5d5d5d;
  border-style: solid;
  height: var(--inner-before-after-height);
  width: 99%;
  margin-bottom: var(--inner-before-after-margin);
  margin-left: auto;
  margin-right: auto;
}

.gitAboutMePageStyle .procPagesInnerAfter {
  content : '';
  border-radius: 0px 0px 5px 5px;
  background: transparent;
  border-width: 1px 1px 0px 1px;
  border-color: #5d5d5d;
  border-style: solid;
  height: var(--inner-before-after-height);
  width: 99%;
  margin-top: var(--inner-before-after-margin);
  margin-left: auto;
  margin-right: auto;
}

/* -- -- -- */

.procPagesNav_aboutMeStyle {
  background: linear-gradient(90deg,  rgba(20, 20, 20, 0.0), rgba(80, 80, 80, 0.45), rgba(85, 85, 85, 0.55), rgba(80, 80, 80, 0.45), rgba(20, 20, 20, 0.0) );
  border-bottom: 1px solid rgba(120, 120, 120, 0.45);
}
.procPagesNav_aboutMeStyle a {
  border: 1px solid #ffffff;
  color: #ffffff;
  background-color: rgba(110, 110, 110, .35);
}
.procPagesNav_aboutMeStyle a:hover {
  text-shadow: 1px 1.5px 4px #cccccc;
  background-color: rgba(180, 180, 180, .85);
}
.procPagesNav_aboutMeStyle a:active {
  color: #cccccc;
  text-shadow: 1px 1.5px 4px #656565;
  background-color: rgba(100, 100, 100, .85);
}

.procPagesNav_aboutMeActiveStyle {
  text-shadow: 1px 1.5px 4px #3e3e3e !important;
  background-color: rgb(158 158 158 / 63%) !important;
}

/* -- -- -- */

.aboutMePage_footerBar{
  background: linear-gradient(90deg, rgba(80, 80, 80, 0.2),  rgba(70, 70, 70, 0.1), rgba(20, 20, 20, 0.0), rgba(70, 70, 70, 0.15),  rgba(80, 80, 80, 0.2));
  color: #999999;
}

.aboutMePage_footerBar a {
  color: #999999;
}
.aboutMePage_footerBar a:hover {
  color: #e5e5e5;
  font-weight: 600;
  text-shadow: 1px 1.5px 4px rgba(50,50,50,.5);
}
.aboutMePage_footerBar a:active {
  color: #cccccc;
  text-shadow: 1px 1.5px 4px rgba(50,50,50,.75);
}

/* -- -- -- */

.procPagesAboutMeSpacer{
  height: 7px;
  overflow: hidden;
}

.procPagesAboutMeBar{
  height: 1.5px;
  background: linear-gradient(90deg, rgba(80, 80, 80, 0.0) 0%, rgba(130, 130, 130, 0.95) 25%, rgba(130, 130, 130, 0.95) 75%, rgba(80, 80, 80, 0.0) 100%);
  overflow: hidden;
}

/* -- -- -- */

.procPagesAboutMe-topTextStyle{
  font-size: 1.45em;
  width: 85%;
  justify-self: center;
  padding-bottom: 10px;
}

.procPagesAboutMe-infoStyle{
  width:85.5%;
  max-width: 1300px;
  justify-self: center;
}

.procPagesAboutMe-skillListStyle{
  width: 85.5%;
  max-width: 1200px;
  justify-self: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-auto-rows: auto;
  gap: 8px 9px;
  margin-bottom: 10px;
}

@media screen and (max-width: 500px) {
  .procPagesAboutMe-skillListStyle{
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  }
  
}


.ppamSkillListing{
  width: 100%;
  height: 100%;
  display: grid;
  align-items: center;
  justify-items: center;
  border: solid 1px rgba(97, 97, 97, 0.71);
  border-radius: 8px;
  background-color: rgba(80, 80, 80, 0.3);
  text-shadow: 2px 2px 3px rgba(63, 63, 63, 0.83);
  font-size: 1.25em;
  font-weight: 600;
  padding: 2px 3px;
}

.procPagesAboutMe-subHeaderStyle{
  font-size: 1.0em;
  font-style: italic;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: auto;
  justify-content: space-between;
  width: 85%;
  padding-bottom: 10px;
  justify-self: center;
}

.setAspectRatio_1{
  aspect-ratio: 1;
}

.setAspectRatio_2_1{
  aspect-ratio: 2 / 1;
}

.ppamHBar{
  width: 100%;
  height: 1px;
  background: linear-gradient(90deg, rgba(80, 80, 80, 0.0) 0%, rgba(130, 130, 130, 0.5) 25%, rgba(130, 130, 130, 0.5) 75%, rgba(80, 80, 80, 0.0) 100%);
}