@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

@import 'gitPage_mainStyle.css'; /* Load css order issue mitigation */
@import 'gitPage_initStyle.css';
@import 'gitPage_pxlNavStyle.css';
@import 'gitPage_reposStyle.css';
@import 'gitPage_projectsStyle.css';
@import 'gitPage_blogStyle.css';
@import 'gitPage_aboutMeStyle.css';



/*  -- -- --  */



.gitPageNav_defaultStyle {
  background: linear-gradient(90deg,  rgba(20, 20, 20, 0.0), rgba(80, 80, 80, 0.45), rgba(85, 85, 85, 0.55), rgba(80, 80, 80, 0.45), rgba(20, 20, 20, 0.0) );
  border-bottom: 1px solid rgba(120, 120, 120, 0.45);
}

.gitPageNav_defaultStyle a {
  border: 1px solid #ffffff;
  color: #ffffff;
  background-color: rgba(110, 110, 110, .35);
}

.gitPageNav_defaultStyle a:hover {
text-shadow: 1px 1.5px 4px #cccccc;
background-color: rgba(180, 180, 180, .85);
}

.gitPageNav_defaultStyle a:active {
color: #cccccc;
text-shadow: 1px 1.5px 4px #656565;
background-color: rgba(100, 100, 100, .85);
}

/*  -- -- --  */

.defaultPage_footerBar{
    background: linear-gradient(90deg, rgba(80, 80, 80, 0.15),  rgba(70, 70, 70, 0.1), rgba(20, 20, 20, 0.0), rgba(20, 20, 20, 0.0), rgba(70, 70, 70, 0.1),  rgba(80, 80, 80, 0.15));
    color: #999999;
}
.defaultPage_footerBar a {
    color: #999999;
}
.defaultPage_footerBar a:hover {
    color: #e5e5e5;
    font-weight: 600;
    text-shadow: 1px 1.5px 4px rgba(50,50,50,.5);
}
.defaultPage_footerBar a:active {
    color: #cccccc;
    text-shadow: 1px 1.5px 4px rgba(50,50,50,.75);
}


/* -- -- -- -- -- -- -- -- -- */

