

.gitPxlNavPageStyle{
  background-color: rgba(19, 38, 6, 0.51);
  border: 1px solid rgba(32, 47, 7, 0.45);
  text-shadow: 2px 2px 3px rgba(0, 0, 0, .75);
  pointer-events: auto;
  max-height: 65vh;
  max-width: calc(100vw - max(5vh,5vw));
  position: fixed;
  bottom: max(4vh,4vw);
  justify-self: center;
  z-index: 2;
}

.gitPxlNavPageStyle::-webkit-scrollbar {
	width: 10px;
}

.gitPxlNavPageStyle::-webkit-scrollbar-track {
	background: rgba(27, 68, 8, 0.31);
}

.gitPxlNavPageStyle::-webkit-scrollbar-thumb {
	cursor: grab;
  background-color: rgb(11 72 10);
  border: 2px solid rgba(7, 66, 4, 0.6);
}
.gitPxlNavPageStyle::-webkit-scrollbar-thumb:hover {
  background-color: rgb(14 127 22);
  border: 2px solid rgba(19, 173, 5, 0.6);
}


/* -- -- -- */
/*  -- -- --  */



.gitPageNav_pxlNavStyle {
  background: linear-gradient(90deg, rgba(23, 55, 4, 0.05), rgba(27, 57, 7, 0.24), rgba(22, 52, 6, 0.34), rgba(20, 53, 5, 0.24), rgba(5, 46, 13, 0.05));
  border-bottom: 1px solid rgba(12, 70, 7, 0.34);
}
.gitPageNav_pxlNavStyle a {
  border: 1px solid rgba(27, 74, 28, 0.76);
  color: #3b962d;
  background-color: rgba(24, 72, 33, 0.37);
}
.gitPageNav_pxlNavStyle a:hover {
  border: 1px solid rgba(42, 157, 47, 0.94);
  color: #44d82f;
  background-color: rgba(53, 147, 71, 0.37);
  text-shadow: 1px 1.5px 4px #000000;
}
.gitPageNav_pxlNavStyle a:active {
  border: 1px solid rgba(33, 116, 35, 0.94);
  color: #328825;
  background-color: rgba(24, 56, 30, 0.67);
  text-shadow: 1px 1.5px 4px #153915;
}


/* -- -- -- */


.pxlNavPage_footerBar{
  background: linear-gradient(90deg, rgba(10, 72, 8, 0.2), rgba(12, 67, 8, 0.15), rgba(18, 72, 12, 0), rgba(12, 67, 8, 0.15), rgba(10, 72, 8, 0.2));
  color: #49a532;
}
.pxlNavPage_footerBar a {
  color: #49a532;
}
.pxlNavPage_footerBar a:hover {
  color: #15c715;
  font-weight: 600;
  text-shadow: 1px 1.5px 4px rgba(50,50,50,.5);
}
.pxlNavPage_footerBar a:active {
  color: #186d18;
  text-shadow: 1px 1.5px 4px rgba(50,50,50,.75);
}

/* -- -- -- */
