
/* -- -- -- */

.gitPxlNavPageStyle{
  max-height: 65vh;
  max-width: calc(100vw - 5vmax);
  position: fixed;
  bottom: 4vmax;
  justify-self: center;
  justify-items: center;
  z-index: 2;
  overflow: hidden;
}

/* -- -- -- */


.gitPxlNavPageInnerStyle{
  display: grid;
  grid-auto-flow: row;
  justify-items: center;
  max-height: calc( 65vh - var(--inner-height-reduce) );
  max-width: calc(100vw - 5vmax - var(--inner-padding));
  padding: var(--inner-padding);
  border-radius: 2px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, .75);
  pointer-events: auto;
  overflow: auto;
  background-color: rgba(33, 46, 24, 0.2);
  background-image: radial-gradient(200% 50% ellipse at top, rgba(33, 46, 24, 0.57), rgba(51, 73, 35, 0)), 
                    radial-gradient(200% 50% ellipse at bottom, rgba(45, 67, 30, 0.57), rgba(23, 35, 15, 0));
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.gitPxlNavPageStyle .gitPageInnerBefore {
  content : '';
  border-radius: 5px 5px 0px 0px;
  background: transparent;
  border-width: 0px 1px 1px 1px;
  border-color: #304112;
  border-style: solid;
  height: var(--inner-before-after-height);
  width: 100%;
  margin-bottom: var(--inner-before-after-margin);
  margin-left: auto;
  margin-right: auto;
}

.gitPxlNavPageStyle .gitPageInnerAfter {
  content : '';
  border-radius: 0px 0px 5px 5px;
  background: transparent;
  border-width: 1px 1px 0px 1px;
  border-color: #304112;
  border-style: solid;
  height: var(--inner-before-after-height);
  width: 100%;
  margin-top: var(--inner-before-after-margin);
  margin-left: auto;
  margin-right: auto;
}

/* -- -- -- */

.gitPxlNavPageInnerStyle::-webkit-scrollbar {
  border-radius: 2px;
	width: 10px;
}

.gitPxlNavPageInnerStyle::-webkit-scrollbar-track {
  border-radius: 32px;
	background: rgba(38, 69, 23, 0.31)
}

.gitPxlNavPageInnerStyle::-webkit-scrollbar-thumb {
  border-radius: 2px;
	cursor: grab;
  background-color: rgb(24, 62, 24);
}
.gitPxlNavPageInnerStyle::-webkit-scrollbar-thumb:hover {
  border-radius: 2px;
  background-color: rgb(52, 106, 56);
}


/* -- -- -- */



.gitPageNav_pxlNavStyle {
  background: linear-gradient(90deg, rgba(23, 55, 4, 0.05), rgba(27, 57, 7, 0.24), rgba(22, 52, 6, 0.34), rgba(20, 53, 5, 0.24), rgba(5, 46, 13, 0.05));
  border-bottom: 1px solid rgba(12, 70, 7, 0.34);
}
.gitPageNav_pxlNavStyle a {
  border: 1px solid rgba(42, 74, 42, 0.76);
  color: #5bb54d;
  background-color: rgba(44, 71, 49, 0.37);
}
.gitPageNav_pxlNavStyle a:hover {
  border: 1px solid rgba(89, 164, 94, 0.94);
  color: #7ae86b;
  background-color: rgba(83, 172, 99, 0.37);
  text-shadow: 1px 1.5px 4px #000000;
}
.gitPageNav_pxlNavStyle a:active {
  border: 1px solid rgba(60, 112, 61, 0.94);
  color: #50754b;
  background-color: rgba(36, 56, 40, 0.67);
  text-shadow: 1px 1.5px 4px #203920;
}


/* -- -- -- */


.pxlNavPage_footerBar{
  background: linear-gradient(90deg, rgba(10, 72, 8, 0.2), rgba(12, 67, 8, 0.15), rgba(18, 72, 12, 0), rgba(12, 67, 8, 0.15), rgba(10, 72, 8, 0.2));
  color: #61aa4e;
}
.pxlNavPage_footerBar a {
  color: #61aa4e;
}
.pxlNavPage_footerBar a:hover {
  color: #65bd65;
  font-weight: 600;
  text-shadow: 1px 1.5px 4px rgba(50,50,50,.5);
}
.pxlNavPage_footerBar a:active {
  color: #386738;
  text-shadow: 1px 1.5px 4px rgba(50,50,50,.75);
}

/* -- -- -- */


.gitPagePxlNavShortcuts{
  display: grid;
  grid-auto-flow: column;
  justify-content: space-evenly;
  width: 100%;
  text-align: center;
}

.gitPagePxlNavHeaderStyle{
  justify-self: center;
  width:90%;
  max-width: 1400px;
}
.gitPagePxlNavDescriptionStyle{
  width:85%;
  max-width: 1300px;
}
.gitPagePxlNavEndNoteStyle{
  width:90%;
  max-width: 1300px;
  text-align: center; 
  text-wrap: initial;
}

.gitPagePxlNavSmallDescStyle{
  width:65%;
  max-width: 800px;
}
.gitPagePxlNavSpacer{
  height: 7px;
  overflow: hidden;
}