

.blogManagerBlockStyle{
  display:flex;
  flex-direction: column;
  justify-items: baseline;
}


.blogEntryListParentStyle{
  display: none;
}


.blogEntryListStyle{
  display: grid;
  grid-auto-flow: row;
  align-self: start;
  height: min-content;
  padding: 10px;
}

.blogEntryListMobileStyle{
  display: grid;
  grid-auto-flow: column;
  align-self: start;
  height: min-content;
  margin-bottom: 10px;
  width: 100%;
  align-items: center;
  justify-items: center;
  border: .5em transparent solid;
  width: 98%;
}


.blogEntryCountStyle{
  display: none;
}


.blogEntryContentStyle{
  width: 100%;
  height: 100%;
}

.blogScrollStyle{
  overflow-y: auto;
  overflow-x: clip;
}

.blogScrollStyle::-webkit-scrollbar {
  border-radius: 2px;
	width: 10px;
}

.blogScrollStyle::-webkit-scrollbar-track {
  border-radius: 2px;
	background: rgba(51, 76, 161, 0.308);
}

.blogScrollStyle::-webkit-scrollbar-thumb {
  border-radius: 2px;
	cursor: grab;
	background-color: rgba(52, 78, 161, 0.55);
}
.blogScrollStyle::-webkit-scrollbar-thumb:hover {
  border-radius: 2px;
	background-color: rgba(34, 72, 196, 0.81);
}

@media screen and ((min-width: 1000px) or (min-aspect-ratio: 1)) {
  .blogManagerBlockStyle{
    display:flex;
    flex-direction: row;
    align-items: baseline;
    width: 100%;
    overflow: hidden;
  }

  .blogEntryListParentStyle{
    display: block;
    height: min( 500px, 70vh );
  }
  .blogEntryCountStyle{
    display: block;
    font-size: 0.75em;
    color: rgb(115 168 255);
    justify-self: end;
    margin-top: 3px;
  }

  .blogEntryListMobileStyle{
    display: none;
  }
}


.blogEntryListingStyle{
  border: 2px solid rgba(107, 115, 219, 0.24);
  text-decoration: none;
  color: #cbdcf8;
  background-color: rgba(33, 77, 143, 0.58);
  margin: 3px 4px;
  padding: 2px 3px 0px 3px;
  font-size: 1.1em;
  border-radius: .3em;
  text-align: left;
  line-height: .85em;
  height: min-content;
  min-width: 15.5ch;
  max-width: 90vw;
}
.blogEntryListingStyle:hover {
  cursor: pointer;
  color: #dde8fb;
  text-shadow: 1px 1.5px 4px #4b3e55;
  background-color: rgba(51, 111, 202, 0.667);
  border: 2px solid rgba(88, 99, 221, 0.715);
}
.blogEntryListingStyle:active {
  cursor: pointer;
  color: #b0c7ed;
  text-shadow: 1px 1.5px 4px #51495a;
  border: 2px solid rgba(35, 45, 153, 0.707);
  background-color: rgba(23, 48, 86, 0.711);
}

.blogSubListingStyle {
  display: grid;
  grid-auto-flow: column;
  justify-content: left;
  font-size: 0.75em;
  padding-left: 10px;
  color: #bed7ffde;
}


.blogSpacer{
  height: 2px;
  width: 85%;
  background-color: rgba(59, 15, 94, 0.87);
  margin: 15px 0px 15px 0px;
  justify-self: center;
}

/* -- -- -- -- -- -- -- -- */

.blogMobilePopupOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(rgba(5, 15, 35, .95) 0%, rgba(5, 15, 35, .7) 100%);
  z-index: 1000;
}

.blogMobilePopupWindow {
  background: rgba(24, 55, 100, 0.58);
  border: 2px solid rgba(107, 115, 219, 0.24);
  border-width: 2px 2px 0px 2px;
  border-radius: 7px;
  padding: 0px 0px 3px 0px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001;
  font-size: 1.65em;
}


.blogMobilePopupList{
  display: grid;
  grid-auto-flow: row;
  max-height: 40vh;
  overflow: auto;
}

.blogMobilePopupHeading{
  padding: 5px 5px 2px 20px;
  font-weight: 700;
}


.blogMobilePrev{
  min-width: min-content;
  width: min-content;
  height: 85%;
  padding: 0px 1vw;
  text-wrap: nowrap;
  font-size: .85em;
}
.blogMobileCurrent{
    padding: 1vw 2vw;
    width: max-content;
    min-width: max-content;
}
.blogMobileNext{
  min-width: min-content;
  width: min-content;
  height: 85%;
  padding: 0px 1vw;
  text-wrap: nowrap;
  font-size: .85em;
}

.blogMobilePopupEntry{
  border-width: 1.5px 2px;
  padding: 2px 4px 0px 4px;
}
.blogMobilePopupEntry:hover{
  border-width: 1.5px 2px;
}
.blogMobilePopupEntry:active{
  border-width: 1.5px 2px;
}


/* -- -- -- -- -- -- -- -- */


.blogEntryTitleRowStyle {
    display: grid;
    width: 100%;
    align-items: center;
    grid-auto-flow: column;
    grid-template-columns: auto .5fr max-content max-content;
    grid-gap: 1ch;
}


.blogEntryTitlePaddingStyle {
  padding: 5px;
}

.blogEntryPaddingStyle {
  padding: 0px 10px 0px 10px;
}


@media screen and (min-width: 1000px) {
  .blogEntryTitlePaddingStyle {
    position: sticky;
    top: 0;
    z-index: 10;
    padding: 5px;
    background: linear-gradient(149deg, rgb(16 32 73), rgb(18 33 61), rgb(20 29 48));
  }
}


/* -- -- -- -- -- -- -- -- */


.blogEntryDateStyle {
  font-size: 0.85em;
  color: rgba(230, 230, 230, 0.65);
  justify-self: center;
  text-wrap: nowrap;
}

.blogEntryTagStyle {
  text-align: right;
  font-size: 0.75em;
  color: rgba(230, 230, 230, 0.65);
  text-wrap: nowrap;
}

.blogEntryReadTimeStyle{
  font-size: 0.75em;
  color: rgba(230, 230, 230, 0.65);
  justify-self: end;
  padding-right: .65em;
  text-wrap: nowrap;
}

.procPagesTempContentStyle{
  justify-self: center;
  min-width: 85%;
  justify-content: center;
  display: grid;
}

.blogTempContentStyle{
  justify-self: center;
  width: 100%;
  text-align: center;
  background: rgba(47, 66, 118, 0.48);
  border-radius: .65em;
  padding: 20px 7px;
}

.blogEntryTitleStyle {
  justify-self: center;
}

.blogDisabledButtonStyle {
  opacity: 0.5;
  pointer-events: none;
}



/* -- -- -- */

.blogMarkedFeatured{
  font-size: 1.15em;
}
.blogMarkedFeatured::before{
  content : "-";
  font-size: .65em;
}
.blogMarkedFeatured::after{
  content : "-";
  font-size: .65em;
}

.blogMarkedPick{
  font-size: 1.15em;
  font-weight: 600;
}
.blogMarkedPick::before{
  content : "-";
  font-size: .65em;
}
.blogMarkedPick::after{
  content : "-";
  font-size: .65em;
}


.blogMarkedImportant{
  font-size: 1.2em;
  font-weight: 600;
}
.blogMarkedImportant::before{
  content : "[";
  font-size: .25em;
}
.blogMarkedImportant::after{
  content : "]";
  font-size: .25em;
}

/* -- -- -- */