<!--
// ProcStack.git.io
//   Kevin Edzenga, 2023
//     ProcStack@Metal-Asylum.net
//
// --
//
-->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
  <meta name='theme-color' content='#000822'>
</head>
<link type="text/css" rel="stylesheet" href="style/pxlNavStyle.css?v=<%= cssVersion %>">

<body>
  <canvas id="map-core" height='1' width='1' class="mapCoreCanvasStyle" ></canvas>
  
	<div style="position:fixed;top:0px;left:0px;z-index:101;color:#fff;">
	<div id="verbErrorConsole"></div>
	</div>
  
  <div id="introCards" class="introCards" vis=1>
    <div id="introCardsInner" class="introCardsInner">
      <%- include('partials/initCard'); %>
    </div>
  </div>
  
	<script type="module" src="js/pxlNav.js?v=<%= jsVersion %>"></script>
</body>
</html>
