<!--
// ProcStack.git.io
//   Kevin Edzenga, 2023
//     ProcStack@Metal-Asylum.net
-->
      <%- include('partials/header'); %>
      <%- include('partials/canvas'); %>
      <%- include('partials/pxlNavScript'); %>
  
</body>
</html>
