
/* Inner Environment popup alerts */

.activeItemStyle{
	transition: opacity 1s, filter 1s, transform 1s, font-size 1s, top 1s, right 1s;
	position:fixed;
	top:10%;
	right:50%;
	transform:translateX(50%);
	font-size:3em;
	z-index:118;
	color:#fff;
	user-select:none;
	filter:alpha(opacity=0);
	opacity:0;
    width: max-content;
}