/* GUI and Hud Globals */
/* Debating using this or not; currently not used */
[contentEditable=true]{
    resize: none;
    outline: none;
    width: 100%;
    color: #ffffff;
    border-radius: 5px;
    border: 2px solid #ffffff;
    background-color: rgba(0,0,0,.45);
}
[contentEditable=true]:empty:not(:focus):before{
    content:attr(data-text)
}

/* GUI and Hud Displays */

.guiWindowBackground{
	position:fixed;
	top:0px;
	left:0px;
	height:100%;
	width:100%;
	z-index:115;
	font-size:.75em;
	background-color:rgba(0,0,0,.75);
	font-family: 'Raleway', sans-serif;
}


.hudBlockStyle{
	position:fixed;
	left:0px;
	top:0px;
	z-index:101;
	cursor:alias;
}


/* Generic HUD Styles*/

.gui_boldText{
	font-weight:700;
}

.guiButton{
	font-family: 'Raleway', sans-serif;
	cursor:pointer;
    width: max-content;
	outline:none;
	color:#ffffff;
	border-radius:7px;
	border: 2px solid #ffffff;
	background-color:rgba(0,0,0,0);
	margin:0px 5px;
    padding: 8px 27px;
    font-weight: 700;
    justify-self:center;
}
.guiButton:hover{
	background-color:rgba(255,255,255,.6);
}
.guiButton:active{
	background-color:rgba(255,255,255,1);
	color:#000000;
}


/* Top Bar HUD elements */

.hud_topBarBlockStyle{
	display:grid;
	cursor:default;
	position:fixed;
	top:0px;
	left:0px;
	z-index:122;
	background-color:rgba(0,0,0,.65);
	border-radius:0px 10px 15px 0px;
}
.hud_topBarParentStyle{
	display:grid;
	grid-gap:10px;
	grid-auto-columns: max-content max-content auto;
	grid-auto-flow: row;
	overflow:visible;
    position: absolute;
    right: 0px;
    z-index: 1;
}
.hud_topBarVSpacerStyle{
	height:100%;
}
.hud_pxlNavDataParentStyle{
	transition: max-height .7s;
	max-height:0px;
    overflow: hidden;
}
.hud_pxlNavDataStyle{
	display:grid;
	grid-gap:10px;
    grid-template-columns: max-content max-content auto;
    grid-template-rows: auto;
    padding: 10px;
    color:#ffffff;
    font-weight:700;
    overflow: hidden;
}
.hud_pxlNavData_FPS{
    color:#55aa55;
}
.hud_pxlNavData_UL{
    color:#aaaa55;
}
.hud_pxlNavData_DL{
    color:#aa5555;
}



/* Fast Travel HUD Bar */


.hud_fastTravelBlockStyle{
	position:fixed;
	right:0px;
	top:0px;
	z-index:123;
	cursor:default;
	background-color:rgba(0,0,0,.65);
	border-radius:5px 0px 0px 10px;
	
}
.hud_fastTravelParentStyle{
	display:grid !important;
	grid-template-rows:1fr;
	grid-auto-rows: auto;
	grid-gap:0px;
	justify-items:center;
	margin:8px;
	margin-right:10px;
}
.ftButtonStyle{
	width:4.5vw;
	min-width:80px;
	max-width:100px;
	height:auto;
    position: relative;
    margin: 1px;
}




/* Bottom HUD Bar */


.hud_bottomBarStyle{
	cursor:default;
	display:grid;
	grid-auto-flow: column;
	grid-gap:0px;
	grid-auto-columns: 1fr 1fr 1fr;
	position:fixed;
	bottom:0px;
	left:0px;
	width:100%;
	overflow:hidden;
	z-index:121;
	align-self:center;
	justify-content:space-between;
	background-color:rgba(0,0,0,.65);
	padding:2px 0px;
}


.hud_chatIconBlockStyle{
	display:grid;
	grid-auto-flow: column;
	grid-gap:0px;
	grid-auto-columns: max-content max-content minmax(auto, 30px) max-content max-content max-content minmax(auto, 30px) min-content;
	align-self:stretch;
	align-items:center;
	margin-left:12px;
	
}

/* User Stats */
.hud_userCountStyle{
	display:grid;
	grid-auto-flow: column;
	justify-items:center;
	align-items:center;
	border-radius:100%;
	background-color:#ffffff;
    border:1.3px solid #000000;
	color:#000000;
	position:relative;
	padding:.5px;
	left:-13px;
	top:-3px;
	z-index:-1;
	width:9px;
	height:9px;
	font-size:10px;
	font-weight:bolder;
	align-self:end;
	text-align:center;
	line-height:0;
}

/* Message Count */
.hud_messageCountBaseStyle{
	opacity:0;
	filter:alpha(opacity=0);
}


.hud_micCamIconsBlockStyle{
	display:grid;
	grid-auto-flow: column;
	grid-auto-columns: max-content max-content minmax(auto, 60px) max-content max-content minmax(auto, 60px) max-content max-content;
	grid-gap:0px;
	justify-self:center;
	align-self:center;
}
.hud_speakerIconStyle{
	align-self:center;
}
.hud_speakerChoiceIconStyle{
	vertical-align:middle;
	justify-self:start;
	align-self:center;
}
.hud_micIconStyle{
	align-self:center;
}
.hud_micChoiceIconStyle{
	vertical-align:middle;
	justify-self:start;
	align-self:center;
}
.hud_camIconStyle{
	align-self:center;
}
.hud_camChoiceIconStyle{
	vertical-align:middle;
	justify-self:start;
	align-self:center;
    padding:3px;
}
.hud_micCamSpacerStyle{
	min-width:10px;
	max-width:50px;
	align-self:center;
}


.hud_helpInfoSettingsBlockStyle{
	display:grid;
	grid-gap:0px;
	grid-auto-flow: column;
	grid-auto-columns: max-content minmax(auto, 80px) max-content minmax(auto, 80px) max-content;
	text-align:right;
	justify-self:end;
	align-self:center;
	margin-right:12px;
    padding: 5px 0px;
}
.hud_helpIconStyle{
	align-self:center;
}
.hud_infoIconStyle{
	align-self:center;
}
.hud_settingsIconStyle{
	align-self:center;
}


/* Icon styles */
.iconStyle{
	height:1vw;
	min-height:22px;
	width:auto;
	position:relative;
	z-index:-1;
}
.iconSpeakerStyle{
	height:2vw;
	min-height:22px;
	width:2vw;
	position:relative;
	z-index:-1;
}

.iconCaretStyle{
	height:.8vw;
	width:auto;
	min-height:5px;
	min-width:5px;
	max-height:12px;
	max-width:12px;
	position:relative;
	z-index:-1;
}

.iconHover{
	cursor:pointer;
	position: relative;
	display: inline-block; 
    margin:0px 5px;
    -webkit-tap-highlight-color: transparent;
    user-select:none;
}
.buttonHover{
	cursor:pointer;
	position: relative;
	display: inline-block; 
}

.pickerStyle{
    border: 2px solid #ffffff;
    border-radius: 5px;
    background: rgba(0,0,0,.6);
    color: #ffffff;
    font-weight: 700;
    outline: none;
}

/* Mic & Cam choice window styles */

.gui_iconButtonPopup{
	position:fixed;
	bottom:0px;
	left:0px;
}


.deviceOptionList{
	transition: max-height .7s;
	/* border: 1px solid #ffffff; */
	border-radius:10px 10px 0px 0px;
	overflow-y:auto;
	max-height:0px;
	background-color:rgba(0,0,0,.45);
}

.deviceOption{
	display:grid;
	grid-auto-flow: column;
	grid-template-columns:40px 1fr;
	grid-gap:0px;
	justify-self:end;
	color:#ffffff;
	border: 1px solid #ffffff;
	border-radius:10px;
	vertical-align:center;
	margin:1px;
	font-size:.75em;
}
.deviceOption:hover{
	background-color:rgba(255,255,255,1);
	color:#000000;
	font-weight:bold;
	cursor:pointer;
}
.deviceOption_label{
	width:30px;
	height:30px;
	font-size:20px;
	text-align:center;
	justify-content:center;
	align-content:center;
	overflow:hidden;
	line-height:1;
	margin-top:10px;
}
.deviceOption_name{
	width:100%;
	text-align:center;
	justify-self:center;
	align-self:center;
	margin:5px;
}

.deviceSelected{
	background-color:rgba(255,255,255,.65);
	color:#ffffff;
}
.deviceSelected:hover{
	color:#000000;
}


/* -- -- -- -- -- -- -- -- -- */


