

.mapHowToPromptStyle{
	position:fixed;
	top:0px;
	left:0px;
	height:100%;
	width:100%;
	overflow:hidden;
	text-align:center;
	font-size:1em;
	color:#ffffff;
	z-index:150;
}


.howToBlockStyle{
	display:grid;
	align-content:stretch;
	justify-content:strech;
	justify-items:center;
	align-items:center;
	position:fixed;
	top:0px;
	left:0px;
	height:100%;
	width:100%;
}

.howToSetOptions{
	display:grid;
	grid-auto-flow: row;
	justify-items:center;
	align-items:center;
	font-family: 'Raleway', sans-serif;
	text-align:center;
	font-size:1em;
	color:#ffffff;
	min-width:30%;
	width:56%;
	height:70%;
	overflow:hidden;
}

.guiRenderQualitySliderParent{
	width:100%;
	text-align:center;
	align-content:center;
}


.audioPlayer{
	position:fixed;
	bottom:12px;
	left:70px;
	z-index:120;
	border-radius:5px;
	width:250px;
	height:30px;
	color:#aaaaaa;
	filter:alpha(opacity=60);
	opacity:0.6;
	font-size:0.75em;
	overflow:hidden;
}
#djPlayerTimecode{
	padding:2px;
	color:#ffffff;
	text-shadow:1px 1px 3px #000000;
	font-size:.8em;
}
#djPlayerVol{
	padding:2px;
	color:#ffffff;
	text-shadow:1px 1px 3px #000000;
}
.volParent{
	transition: max-width .5s ease;
	width:10vw;
	width:4vw;
	min-width:50px;
	height:50%;
	overflow:hidden;
	background-color:rgba(25,25,25.65);
	text-align:left;
	border-radius:5px;
	z-index:130;
}
.volSlider{
	width:0;
	height:100%;
	background-color:rgba(255,255,255,1);
	z-index:-1;
}

/* -- -- -- -- -- -- -- -- -- -- */
.mapPromptBackgroundStyle{
	transition: background-color 1s;
	background-color:rgba(0,0,0,1);
	position:fixed;
	top:0px;
	left:0px;
	height:100%;
	width:100%;
	z-index:150;
}
.canvasCrashPromptBackgroundStyle{
  display: grid;
  position: absolute;
  text-align: center;
	transition: background-color 1s;
	background-color:rgba(0,0,0,1);
	position:fixed;
	top:0px;
	left:0px;
	height:100%;
	width:100%;
    display: grid;
    align-items: center;
    justify-items: center;
	z-index:-1; /* Error console currently out of date, leave behind for now */
}
.canvasCrashPromptStyle{
    cursor:default;
	color:#ffffff;
	font-size:1.2em;
	font-family: 'Raleway', sans-serif;
	font-weight:400;
	text-align:left;
}
.crashLink{
    cursor:pointer;
    text-decoration:none;
	font-weight:700;
}
.crashLink:hover{
    text-decoration:underline;
}
.crashLink:active{
    color:#ff0000;
}

/* -- -- -- -- -- -- -- -- -- -- */

.howToClickTargetStyle{
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	z-index:113;
}
.howToStyle{
	position:fixed;
	top:0px;
	left:0px;
	height:100%;
	width:100%;
	z-index:115;
	font-size:1em;
	background-color:rgba(0,0,0,.5);
	font-family: 'Raleway', sans-serif;
}
.howToTitle{
	width:100%;
	height:auto;
	margin-top:25px;
	margin-bottom:50px;
}
.howToKeyboardMouse{
	height:auto;
	max-height:300px;
	width:auto;
}
.howToSliderMarkers{
	height:9px;
	margin-left:auto;
	margin-right:auto;
	width:var(--gui-slider-marker-width);
	overflow-y:visible;
	display:flex;
	justify-content:space-between;
	z-index:2;
}
.howToSliderMarkers div{
	top:16px;
	width:1px;
	height:21px;
	margin : 11px 0px;
	border-radius:5px;
	overflow:hidden;
	background-color:rgba(255,255,255,1);
}


.guiButtonOver{
	height:1px;
	width:1px;
	position:fixed;
	top:0px;
	left:0px;
	z-index:118;
	background-color:rgba(0,0,0,0);
	cursor:pointer;
}

.guiButtonUnder{
	position:relative;
	top:0px;
	left:0px;
	z-index:116;
}


#howToButton{
	padding:10px;
	margin:10px;
	background-color:#A92727;
	border-radius:5px;
	color:#ffffff;
	border:1px solid #400E0E;
	cursor:pointer;
	font-size:150%;
	font-weight:bold;
	text-shadow:1px 1px 3px #000000;
}
#howToButton:hover{
	background-color:#61100A;
	border:1px solid #FF0F0F;
	color:#ff0000;
}

.howToSliderValue{
	width:var(--gui-slider-value);
	text-align:right;
	font-size:.75em;
	margin-left:auto;
	margin-right:auto;
}

.guiRadio{
	cursor:pointer;
	min-width:30%;
	max-width:200px;
	width:100%;
	height:auto;
	overflow:visible;
}
.guiRadioActive{
	cursor:pointer;
	fill:white;
	fill-opacity:0.52;
}
.guiRadioOff{
	cursor:pointer;
	fill:white;
	fill-opacity:0.52;
}
.guiRadioOff:hover{
	fill:white;
	fill-opacity:0.8;
}

.guiSliderHeaders{
	width:80%;
	height:auto;
}
.guiUserControls{
	max-width:100%;
	min-width:80%;
	height:auto;
}

.howToSpacer{
	overflow:hidden;
	background-color:rgba(255,255,255,.5);
	text-shadow:1px 1px 3px #000000;
}
.hts45{
	width:45%;
	height:1px;
	margin:25px;
}
.hts35{
	width:35%;
	height:1px;
}
.hts25{
	width:25%;
	height:1px;
}
.hts15{
	width:15%;
	height:1px;
}
.hts0{
	width:0px;
	height:5%;
	max-height:10px;
	min-height:1px;
}
.hts0_20{
	width:0px;
	height:3%;
	max-height:20px;
	min-height:1px;
}
.smaller{
	margin-top:15px;
	font-size:70%;
}
.guiPadding{
	padding:5px;
}
.guiOr{
	margin:25px 10px;
}
.guiAntibodyClubTitle{
	width:20%;
	min-width:148px;
	max-width:300px;
	height:auto;
}
.guiRenderQualityHeader{
	width:25%;
	min-width:150px;
	max-width:300px;
	height:auto;
}
.guiDisclaimer{
	width:50%;
	min-width:250px;
	max-width:400px;
	height:auto;
}
.guiEnterButton{
	width:20%;
	min-width:150px;
	max-width:300px;
	height:auto;
}
.guiKeyboardControls{
	width:40%;
	min-width:84px;
	max-width:300px;
	height:auto;
}
.guiKeyboardFooter{
	width:70%;
	min-width:190px;
	max-width:300px;
	height:auto;
}
.guiMouseControls{
	width:35%;
	min-width:71px;
	max-width:300px;
	height:auto;
}
.guiMouseFooter{
	width:50%;
	min-width:137px;
	max-width:300px;
	height:auto;
}

.gui2x1Grid{
	display:grid;
	grid-template-areas:
		'spacerA keyboard spacerB mouse spacerC';
	grid-gap:0px;
}
.gui2x1GridCloser{
	display:grid;
	grid-template-areas:
		'spacerA spacerA spacerA keyboard spacerB2 mouse spacerC spacerC spacerC';
	grid-gap:0px;
}
.gui2x1Grid11{
	grid-area:'keyboard';
	min-height:40px;
	min-width:100px;
	vertical-align:middle;
}
.gui2x1Grid21{
	grid-area:'mouse';
	min-height:40px;
	min-width:100px;
	vertical-align:middle;
}
.gui2x1GridSpacerA{
	grid-area:'spacerA';
	width:100%;
	min-width:100%;
}
.gui2x1GridSpacerB{
	grid-area:'spacerB';
	width:100%;
	min-width:100%;
}
.gui2x1GridSpacerC{
	grid-area:'spacerC';
	width:100%;
	min-width:100%;
}
.gui2x1GridSpacerB2{
	grid-area:'spacerB2';
	width:2px;
	max-width:100%;
}