

/* JMA Objects; Remote User Controls, Chat, Prompts */

.jmaLocalMedia{
}
.jmaLocalVideo{
	border-radius: 0px 5px 10px 5px;
	text-shadow:3px 3px 3px #000000;
}


/* -- -- -- -- -- -- -- -- -- -- -- -- */

.jmaBlockStyle{
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: -5;
    display: grid;
    grid-auto-flow: row;
	grid-auto-rows: 70% 30%;
    cursor:default;
    user-select:text;
}
.jmaMediaBlockStyle{
    height: 100%;
    min-width: 60%;
    width: max-content;
    max-width:80%;
    overflow-y: scroll;
    justify-self: center;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(0,0,0,.8);
    border-width: 0px 2px;
    border-style: solid;
    border-color: #ffffff;
    cursor:default;
    user-select:text;
}
.jmaSatusStyle{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: minmax(max-content, 50%) auto;
    justify-items: stretch;
    align-items: stretch; 
    border-width: 2px 0px 0px 0px;
    border-style: solid;
    border-color: #ffffff;
    background:rgba(0,0,0,.6);
    color: #ffffff;
    font-weight:700;
}
.jmaInnerStyle{
    display: grid;
    grid-auto-flow: row;
    justify-items: stretch;
    grid-auto-rows: auto max-content;
    overflow: hidden;
    min-width: 30vw;
    max-width: 70vw;
}
.jmaColStyle{
    display: flex;
    width: 100%;
    height: max-content;
    flex-wrap: wrap;
    max-width: 50vw;
    align-items: center;
    justify-content: space-evenly;
}
.jmaRowStyle{
    display: grid;
    grid-auto-flow: row;
    grid-auto-rows: max-content;
    align-items: start;
    justify-items: stretch;
    grid-gap:5px;
}
.jmaRemoteMediaParent{
    display: grid;
    justify-items: stretch;
    grid-gap: 5px;
    grid-auto-flow: row;
    box-sizing: border-box;
    flex: 1 0 250px;
    min-height: 200px;
    margin: .5vw;
    padding: .5vh;
    border: 2px solid #ffffff;
    border-radius: 10px;
    background-color: rgba(0,0,0,.75);
    align-self: start;
    text-align: center;
}

.jmaRemoteStats{
    display: grid;
    justify-items: stretch;
    grid-gap: 2px;
    grid-auto-flow: column;
    color: #ffffff;
    font-weight: 700;
    font-size: 1.5vw;
}

.jmaRemoteMedia{
    
}
.jmaVideoStyle{
    border-radius:10px;
    max-Width: 100%;
}
.jmaStats_dl{
    text-align:center;
}
.jmaStats_up{
    text-align:center;
}
.jmaStats_fps{
    text-align:center;
}
.jmafStat{
    font-size:65%;
}
.jmaUserControlPanel{
    display: grid;
    justify-items: stretch;
    grid-gap: 2vw;
    grid-auto-flow: column;
    height: 3vh;
    justify-items: stretch;
    min-height: 30px;
}