BODY{
  padding : 0px;
  margin : 0px;
	font-family : Tahoma,Verdana !important;
  background-color : #000000;
  
  user-select : none;
	-moz-user-select : none;
	-webkit-user-select : none;
	-ms-user-select : none;
	-o-user-select : none;
}
.NeurousGLStyle{
  z-index:3;
  position:fixed;
  top:0px;
  left:0px;
  touch-action:none;
}
.introCards{
	z-index : 1;
	text-align : center;
	color : #aaaaaa; 
	font-size : 90%;
	line-height : 1.45;
	position : fixed;
	top : 50%;
	left : 50%;
	transform : translate(-50%,-50%);
	
	visibility : hidden;
	filter : alpha(opacity=100);
	opacity : 1.;
}
.introCards.fadeOut{
	filter : alpha(opacity=0);
	opacity : .0;
	top : 55%;
	filter : blur(20px);
	-moz-filter :  blur(20px);
	-webkit-filter :  blur(20px);
	-ms-filter :  blur(20px);
	-o-filter :  blur(20px);
	
}
.introCards.fadeOutMobile{
	filter : alpha(opacity=0);
	opacity : .0;
	left : 45%;
	
}
.introBolds{
	font-size : 140%;
	color : #cccccc;
}
.introSpacer{
	height : 1px;
	width : 300px;
	background-color : #004488;
	filter : alpha(opacity=65);
	opacity : .65;
	margin : 10px ;
	position : fixed;
	left : 50%;
	transform : translateX(-50%);
	overflow : hidden;
}
.introClickText{
	font-size : 130%;
	letter-spacing : 2;
	color : #a4aab0;
}
.introCardsInner{
	transform : rotate(0deg);
	transform-origin : 50% 50%;
}
.introCardsInner.mobile{
	transform : rotate(90deg);
}