
/* Settings Window GUI */

.gui_settingsGuiParentStyle{
	height:100%;
	width:100%;
	position:fixed;
	top:0px;
	left:0px;
	overflow:hidden;
	z-index:152;
	background-color: rgba( 0,0,0,.65 );
}
.gui_contentSettingsStyle{
	display:grid;
	grid-template-rows:auto;
	grid-gap:0px;
	text-align:center;
	align-items:center;
    justify-content: center;
	height:50%;
	min-height:500px;
	min-width:600px;
	max-width:800px;
	position:fixed;
	left:50%;
	top:50%;
	transform:translate(-50%, -50%);
}
.gui_settingsBody{
	display:grid;
	grid-auto-flow: row;
	justify-items:center;
	align-items:center;
	font-family: 'Raleway', sans-serif;
	text-align:center;
	font-size:1em;
	color:#ffffff;
	overflow:hidden;
} 
.gui_settingsBodySub{
	display:grid;
	grid-auto-flow: row;
	justify-items:center;
	align-items:center;
	font-family: 'Raleway', sans-serif;
	text-align:center;
	font-size:1em;
	color:#ffffff;
	width:100%;
	overflow:hidden;
	transition: max-height .8s;
} 

.settingsSpacer{
	height:1px;
	width:70%;
	overflow:hidden;
	background-color:rgba(255,255,255,.65);
	margin:15px;
    
    justify-self: center;
}
.settingsEmptySpacer{
	height:0px;
	width:50%;
	overflow:hidden;
	margin:10px;
}

/* -- -- -- -- -- -- -- -- */

.gui_settingsParentGrid{
	display:grid;
	grid-template-columns: 120px auto 350px;
	grid-gap:5px;
}
.cellMargin{
    margin:5px;
}
.settingsGridSpan{
	grid-column-start:1;
	grid-column-end:4;
    justify-self: center;
}


.gui_settingsAdvancedParentGrid{
	grid-column-start:1;
	grid-column-end:4;
    grid-row: 7;
	display:grid;
	grid-template-columns: 120px auto 350px;
	grid-gap:5px;
	transition: max-height .8s;
    overflow: hidden;
	
}

/* -- -- -- -- -- -- -- -- */

.settings_icon{
    height: auto;
    text-align: center;
}
.settings_icon_scale{
	max-height:30px;
	width:120px;
	height:auto;
    height: auto;
    text-align: center;
}

/* -- -- -- -- -- -- -- -- */

.guiSettingsEnterButton{
	width:10%;
	min-width:129px;
	max-width:200px;
	height:auto;
	margin-left:auto;
	margin-right:auto;
}
.guiInfoAntibodyClubTitle{
	width:20%;
	min-width:148px;
	max-width:300px;
	height:auto;
}

.guiSettingsFooterButtons{
	display:grid;
	border-radius:10px;
	padding:3px;
	align-self:start;
    justify-self: center;
}


/* -- -- -- -- -- -- -- -- */

.settings_sectionHeader{
	font-size:150%;
	margin-top:20px;
	margin-bottom:10px;
	font-weight:700;
}

.settings_optionHeader{
	font-size:120%;
	margin-right:25px;
	padding:7px;
	font-weight:700;
	text-align:left;
    align-self:center;
}

/* -- -- -- -- -- -- -- -- */


.settings_usernameInput{
	resize:none;
	outline:none;
	min-width:250px;
	height:30px;
	padding:10px;
	color:#ffffff;
	border-radius:5px 0px 0px 5px;
    border-width:2px 0px 2px 2px;
	border-style:solid;
    border-color:#ffffff;
	background-color:rgba(0,0,0,.45);
}
.sunInput_mobile{
    padding: 10px 13px;
    font-size: 1.3em;
    height: fit-content;
}

.sendUsername{
    display: grid;
    justify-items: center;
    align-items: center;
	cursor:pointer;
	outline:none;
    margin-left:-1px;
    width:50px;
    font-weight: 700;
	color:#ffffff;
	border-radius:0px 5px 5px 0px;
    border-width:2px 2px 2px 0px;
	border-style:solid;
    border-color:#ffffff;
	background-color:rgba(0,0,0,.45);
}
.sendUsernameHover:hover{
	background-color:rgba(255,255,255,.6);
}
.sendUsername:active{
	background-color:rgba(255,255,255,1);
	color:#000000;
}

/* -- -- -- -- -- -- -- -- */

.settings_radio{
	display:grid;
	grid-auto-flow: column;
	color:#ffffff;
	grid-gap:0px;
	font-weight:700;
    align-self:center;
    justify-content:start;
	white-space: nowrap;
}
.settings_radio input[type='radio'] {
	-webkit-appearance: none;
	-moz-appearance: none;
	outline: none;
	width: 0px;
	height: 0px;
	overflow:hidden;
}
.NULL{
	display: inline-block;
	vertical-align: top;
	position: relative;
	margin: 0;
	cursor: pointer;
	transition: background .1s;
	border-radius: 5px;
	border:2px solid #ffffff;
	width: 25px;
	height: 25px;
}
.settings_radio input[type='radio']:after + label {
	background: rgba(0,0,0,.35);
	opacity: 0;
}
.settings_radio input[type='radio']:checked + label {
	background: rgba(255,255,255,1);
	color:#000000;
}
.settings_radio input[type='radio']:hover + label{
	background: rgba(255,255,255,.6);
}
.settings_radio input[type='radio']:hover:checked + label{
	background: rgba(255,255,255,1);
	color:#000000;
}
.settings_radio label {
	vertical-align: center;
	cursor: pointer;
	padding:5px 20px;
	margin:-.5px;
    line-height: 20px;
}

.settings_radio_label_start{
	border-radius:5px 0px 0px 5px;
	border-width:2px 0px 2px 2px;
	border-color:#ffffff;
	border-style:solid;
	justify-items:end;
}
.settings_radio_label_mid{
	border-width:2px 0px;
	border-color:#ffffff;
	border-style:solid;
	justify-self:stretch;
}
.settings_radio_label_end{
	border-radius:0px 5px 5px 0px;
	border-width:2px 2px 2px 0px;
	border-color:#ffffff;
	border-style:solid;
	justify-items:start;
}

.howToSliderValue{
	width:var(--gui-slider-value);
	text-align:right;
	font-size:1em;
	margin-left:auto;
	margin-right:auto;
}
