/* Chat Box GUI */

/* -- -- -- -- -- -- -- -- -- */


.gui_shaderEditorBlockStyle{
	cursor:default;
	position:fixed;
	font-size: .65em;
	font-family: 'Raleway', sans-serif;
	left:0px;
	top:0px;
	height:100%;
	overflow:hidden;
	z-index:302;
	width:100%;
	max-width:30vw;
	min-width:430px;
	background-color:rgba(0,0,0,.6);
	
	border-width: 0px 2px 0px 0px;
	border-color: #ffffff;
	border-style: solid;
	
	display: grid;
	grid-auto-flow: column;
}

.gui_shaderEditorParentStyle{
	display:grid;
	grid-gap:0px;
	grid-auto-flow: row;
	grid-auto-rows: max-content auto max-content;
	text-align:left;
	width:100%;
	height:100%;
	justify-content:stretch;
}

.gui_shaderHelpBlockStyle{
	cursor : help;
	font-family: 'Raleway', sans-serif;
	color: #ffffff;
	font-size: 1.5em;
	padding-left: 5px;
	position: fixed;
	top: 0px;
	left: max(30vw, 430px);
	margin: 0px 0px 3px 0px;
	border-radius:5px;
	border: 2px solid #ffffff;
	background-color:rgba(0,0,0,.45);
	transition : left 0.5s ease;
}

.gui_shaderHelpSpacerStyle{
	height:1px;
	width:85%;
	padding: 0px;
	margin: 2px;
	overflow:hidden;
	background-color: rgba(220,220,220,.45);
	justify-self: center;
}

.gui_shaderHelpTitle{
	justify-self: center;
}

/* -- -- -- */


.gui_shaderEditorFontSizeStyle{
  display: grid;
  grid-auto-flow: column;
  grid-gap: 2px;
  font-size: 0.85em;
  user-select: none;
  justify-self: end !important;
  margin: 2px 5px 2px 1px !important;
}
.gui_shaderEditorOptionBarSpacer{
  width: 10px;
  overflow: hidden;
  user-select: none;
}

.gui_shaderEditorFontSizeTextStyle{
  font-size: 0.5em;
}

/* -- -- -- */

.shaderEditor_settingsButton{
	cursor:pointer;
	outline:none;
	color:#ffffff;
	border-radius:5px;
	border: 2px solid #ffffff;
	background-color:rgba(0,0,0,.45);
	font-weight: 500;
	text-align: center;
  padding: 0px .5em 0px .5em;
}
.shaderEditor_settingsButton:hover{
	background-color:rgba(255,255,255,.65);
}
.shaderEditor_settingsButton:active{
	background-color:rgba(255,255,255,1);
	color:#000000;
}

/* -- -- -- */

.gui_shaderEditorTitleParentStyle{
	font-size:1.3em;
	font-weight:bold;
	padding:0px 5px 2px 2px;
	color:#ffffff;
	width:100%;
	display: grid;
	grid-auto-flow: column;
  transition : font-size 0.3s;
}
.gui_shaderEditorHeaderListStyle{
  align-self: center;
  justify-content: center;
  grid-auto-flow: column;
}
.gui_shaderPickerStyle{
	width:100%;
	max-width: 85px;
	transition: max-width 0.45s ease-out;
}
.gui_shaderEditorTitleStyle{
	display:grid;
	grid-gap:0px;
	grid-auto-flow: column;
	grid-template-columns: auto;
  font-size:1.0em;
	transition : font-size 0.3s;
}
.gui_shaderEditorHeaderLine{
	height:1.5px;
	overflow:hidden;
	width:80%;
	background-color:rgba(220,220,220,.65);
	margin-left:auto;
	margin-right:auto;
	margin-top:3px;
	margin-bottom:3px;
}

.gui_shaderEditorPulldownHeaderStyle{
  font-size:.75em;
  transition : font-size 0.3s;
}

.gui_shaderEditorDisplay{
	display:grid;
	justify-content:stretch;
	align-content:start;
	width:100%;
	height:0%;
	overflow-y:auto;
	overflow-x:hidden;
}

.gui_shaderEditorFieldParentStyle{
	display:grid;
	grid-auto-flow: row;
	grid-auto-rows: min-content auto auto;
	width:100%;
	justify-content:stretch;
	align-content: space-between;
	overflow: hidden;
	color: #ffffff;
	font-weight: 700;
	line-height: .85em;
	font-size:1.5em;
}
.gui_shaderEditorFieldParentStyle textarea{
	transition: max-height .3s ease-in-out;
	height:2000px;
  min-height: 40px;
	resize:none;
	outline:none;
	padding: 2px;
	color:#ffffff;
	margin: 0px 0px 3px 0px;
	border-radius:5px;
	border: 2px solid #ffffff;
	background-color:rgba(0,0,0,.45);
}
.gui_shaderEditorFieldParentStyle textarea::-webkit-scrollbar {
	width: 10px;
}

.gui_shaderEditorFieldParentStyle textarea::-webkit-scrollbar-track {
	background: rgba( 55, 55, 55, 0.5 );
}

.gui_shaderEditorFieldParentStyle textarea::-webkit-scrollbar-thumb {
	cursor: grab;
	background-color: rgba(255,255,255,.65);
	border-radius: 5px;
	border: 2px solid rgba(255,255,255,.65);
}
.gui_shaderEditorFieldParentStyle textarea::-webkit-scrollbar-thumb:hover {
	background-color: #ffffff;
	border: 2px solid #ffffff;
}

.gui_shaderEditorSpacer{
	height:53px;
}

.shaderEditor_sendMessage{
	cursor:pointer;
	outline:none;
	margin:0px 2px 0px 0px;
	color:#ffffff;
	border-radius:5px;
	border: 2px solid #ffffff;
	background-color:rgba(0,0,0,.45);
	font-weight: 700;
	text-align: center;
	font-size: 1.5em;
	padding: 10px;
}
.shaderEditor_sendMessage:hover{
	background-color:rgba(255,255,255,.65);
}
.shaderEditor_sendMessage:active{
	background-color:rgba(255,255,255,1);
	color:#000000;
}


.gui_changeShaderLink{
	cursor:pointer;
	font-size: .6em;
	font-weight:700;
	color:#ffffff;
	text-decoration:none;
	margin: 0px 5px;
}
.gui_changeShaderLink:hover{
    text-decoration:underline;
}
