

/* -- -- -- -- -- -- -- -- -- */



.consoleBlockStyle {
  position: fixed;
  top:0px;
  left:0px;
  z-index: 1001;
  max-height: 15vh;
  overflow-y: auto;
  background-color: rgba(40, 40, 40, 0.46);
}

.messageBlockStyle {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 10px;
  padding: 10px;
}

.messageTopBarStyle {
  background-color: #f2f2f2;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.messageHeaderStyle {
  background-color: #f2f2f2;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.messageContentStyle {
  color : #eeeeee;
  background-color: #353535;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

/* -- -- -- -- -- -- -- -- -- */

.messageCloseBtn{
  color : #f1b9b9;
  background-color: #f2f2f2;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.messageCloseBtn:hover{
  color:#dd2f2f;
  background-color: #992020;
}
.messageCloseBtn:active{
  color:#7a2020;
  background-color: #451313;
}

/* -- -- -- -- -- -- -- -- -- */

.messageInfo{
  background-color: #35ab3e;
  padding: 10px;
}
.messageWarn{
  background-color: #9609d6;
  padding: 10px;
}
.messageError{
  background-color: #aa4444;
  padding: 10px;
}