

.gitPxlNavPageStyle{
  background-color: rgba(53, 48, 13, 0.19);
  text-shadow: 2px 2px 3px rgba(0, 0, 0, .75);
  border: 1px solid rgba(67, 60, 21, 0.445);
  pointer-events: auto;
  max-height: 65vh;
  max-width: calc(100vw - max(5vh,5vw));
  position: fixed;
  bottom: max(4vh,4vw);
  z-index: 2;
}

.gitPxlNavPageStyle::-webkit-scrollbar {
	width: 10px;
}

.gitPxlNavPageStyle::-webkit-scrollbar-track {
	background: rgba(53, 48, 11, 0.31);
}

.gitPxlNavPageStyle::-webkit-scrollbar-thumb {
	cursor: grab;
  background-color: rgb(93 78 11);
  border: 2px solid rgba(100, 82, 9, 0.6);
}
.gitPxlNavPageStyle::-webkit-scrollbar-thumb:hover {
  background-color: rgb(143, 120, 16);
  border: 2px solid rgba(131, 107, 11, 0.636);
}


/* -- -- -- */
/*  -- -- --  */



.gitPageNav_pxlNavStyle {
  background: linear-gradient(90deg, rgba(30, 33, 11, 0), rgba(63, 57, 38, 0.24), rgba(80, 79, 23, 0.34), rgba(64, 54, 13, 0.24), rgba(45, 44, 12, 0));
  border-bottom: 1px solid rgba(83, 93, 22, 0.34);
}
.gitPageNav_pxlNavStyle a {
  border: 1px solid rgba(89, 75, 19, 0.94);
  color: #b28823;
  background-color: rgba(70, 66, 56, 0.37);
}
.gitPageNav_pxlNavStyle a:hover {
  color: #d3b322;
  text-shadow: 1px 1.5px 4px #55503e;
  background-color: rgba(131, 111, 15, 0.773);
  border: 1px solid rgba(119, 118, 28, 0.941);
}
.gitPageNav_pxlNavStyle a:active {
  color: #8c7820;
  text-shadow: 1px 1.5px 4px #5a5049;
  background-color: rgba(105, 88, 28, 0.37);
  border: 1px solid rgb(83, 73, 17);
}


/* -- -- -- */


.pxlNavPage_footerBar{
  background: linear-gradient(90deg, rgba(174, 163, 13, 0.15), rgba(66, 77, 15, 0.1), rgba(66, 77, 15, 0.0), rgba(66, 77, 15, 0.0), rgba(66, 77, 15, 0.1),  rgba(174, 163, 13, 0.15));
  color: #aa8735;
}
.pxlNavPage_footerBar a {
  color: #aa8735;
}
.pxlNavPage_footerBar a:hover {
  color: #cb9e35;
  font-weight: 600;
  text-shadow: 1px 1.5px 4px rgba(50,50,50,.5);
}
.pxlNavPage_footerBar a:active {
  color: #72591d;
  text-shadow: 1px 1.5px 4px rgba(50,50,50,.75);
}

/* -- -- -- */
