
/* -- -- -- */

.gitProjectsPageStyle{
  position: fixed;
  bottom: 4.5vmax;
  max-height: 60vh;
  max-width: calc(100vw - 5vmax);
  justify-self: center;
  justify-items: center;
  z-index: 4;
  overflow: hidden;
}

/* -- -- -- */


.gitProjectsPageInnerStyle{
  max-height: calc( 60vh - var(--inner-height-reduce) );
  max-width: calc(100vw - 5vmax - var(--inner-padding));
  background: linear-gradient(123deg, rgba(62, 95, 117, 0.65), rgba(32, 82, 117, 0.71), rgba(59, 81, 107, 0.65));
  text-shadow: 2px 2px 3px rgba(0, 0, 0, .75);
  border-radius: 2px;
  pointer-events: auto;
  overflow: auto;
}

.gitProjectsPageStyle .gitPageInnerBefore {
  content : '';
  border-radius: 5px 5px 0px 0px;
  background: transparent;
  border-width: 0px 1px 1px 1px;
  border-color: #3e5f75;
  border-style: solid;
  height: var(--inner-before-after-height);
  width: 100%;
  margin-bottom: var(--inner-before-after-margin);
  margin-left: auto;
  margin-right: auto;
}

.gitProjectsPageStyle .gitPageInnerAfter {
  content : '';
  border-radius: 0px 0px 5px 5px;
  background: transparent;
  border-width: 1px 1px 0px 1px;
  border-color: #3e5f75;
  border-style: solid;
  height: var(--inner-before-after-height);
  width: 100%;
  margin-top: var(--inner-before-after-margin);
  margin-left: auto;
  margin-right: auto;
}

/* -- -- -- */

.gitProjectsPageInnerStyle::-webkit-scrollbar {
  border-radius: 2px;
	width: 10px;
}

.gitProjectsPageInnerStyle::-webkit-scrollbar-track {
  border-radius: 2px;
	background: rgba(23, 72, 108, 0.25);
}

.gitProjectsPageInnerStyle::-webkit-scrollbar-thumb {
  border-radius: 2px;
	cursor: grab;
  background-color: rgba(30, 71, 118, 0.9);
}
.gitProjectsPageInnerStyle::-webkit-scrollbar-thumb:hover {
  border-radius: 2px;
	background-color: rgba(43, 109, 185, 0.8);
}

/* -- -- -- */

/* -- -- -- */

.gitPageNav_projectsStyle {
  background: linear-gradient(90deg, rgba(37, 111, 168, 0.0), rgba(37, 111, 168, 0.45), rgba(37, 119, 181, 0.5), rgba(37, 111, 168, 0.45), rgba(37, 111, 168, 0.0));
  border-bottom: 1px solid rgba(17, 108, 191, 0.4);
}
.gitPageNav_projectsStyle a {
  border: 1px solid rgb(119 178 223);
  color: rgb(175 220 255);
  background-color: rgba(32, 120, 188, 0.35);
}
.gitPageNav_projectsStyle a:hover {
  text-shadow: 1px 1.5px 4px #5fb3f4;
  background-color: rgba(22, 134, 219, 0.675);
}
.gitPageNav_projectsStyle a:active {
  color: #cccccc;
  text-shadow: 1px 1.5px 4px #4a80a9;
  background-color: rgba(24, 77, 118, 0.592);
}

/* -- -- -- */

.projectsPage_footerBar{
  background: linear-gradient(90deg, rgba(27, 88, 141, 0.25), rgba(5, 83, 158, 0.15), rgba(4, 43, 109, 0.0), rgba(5, 83, 158, 0.15), rgba(27, 88, 141, 0.25));
  color: #001f47;
}
.projectsPage_footerBar a {
  color: #001b47;
}

.projectsPage_footerBar a:hover {
  color: #0a3b8b;
  font-weight: 600;
}

.projectsPage_footerBar a:active {
  color: #092039;
}